extends ../application.pug

block content
  .container
    .row
      .col-xs-8.offset-xs-2
        h1 Edit a blog
        form(action="/admin/blog-posts/" + blogPost.id method="POST")
          input(type="hidden" name="_method" value="PUT")
          .form-group
            label(for="blog-post-title") Title:
            input(type="text" class="form-control" name="title" id="blog-post-title" value=blogPost.title)
          .form-group
            label(for="blog-post-slug") Slug:
            input(type="text" class="form-control" name="slug" id="blog-post-slug" value=blogPost.slug)
          .form-group
            label(for="blog-post-content") Content:
            textarea(class="form-control" rows=10 name="content" id="blog-post-content" value=blogPost.content)
          .form-group.text-xs-right
            button(type="submit" class="btn btn-lg btn-success ") Edit blog post
