extends ../application.pug

block content
  .container
  h1 Blog posts
  each blogPost in blogPosts
    .card.card-block
      .row
        .col-xs-12.col-md-8
          h3= blogPost.title
          p= blogPost.body
