extends ../application.pug

block content
  .container
    .row
      .col-xs-8
        each blogPost in blogPosts 
          .card.card-block
            h2=blogPost.title
            p=blogPost.content
            .col-xs-2.text-xs-right
              a(href= "/admin/blog-posts/" + blogPost.id + "/edit" class="btn btn-warning") Edit post
            .col-xs-2.text-xs-right
              form(action="/admin/blog-posts/" + blogPost.id method="POST")
                input(type="hidden" name="_method" value="DELETE")
                button(type="submit" class="btn btn-danger") Delete post
      .col-xs-4
        .card.card-block
          h3 Sidebar
