extends ../application.pug

block content
  section(class="container")
    .row
      .col-xs-8
        if blogPosts
          each blogPost in blogPosts
            .card.card-block
              a(href="/" + blogPost.slug class="h2")=blogPost.title
              p= blogPost.content
  .col-xs-4
    .card.card-block
      h3 Sidebar
