extends ../application.pug

block content
  .container
    .row
      .col-xs-8
        .card.card-block
          h2=blogPost.title
          p=blogPost.content
          .col-xs-2.float-xs-right
            a(href="/blog-posts/" + blogPost.id + "/edit" class="btn btn-warning") Edit post
          .col-xs-2.float-xs-right
            form(action="/blog-posts/" + blogPost.id method="POST")
              input(type="hidden" name="_method" value="DELETE")
              button(type="submit" class="btn btn-danger" data-blogPost=blogPost.id) Delete post
      .col-xs-4
        .card.card-block
          h3 Sidebar
