extends ../application.pug

block content
  .container
    .row
      .col-xs-8
        .card.card-block
          h2=blogPost.title
          p=blogPost.content
      .col-xs-4
        .card.card-block
          h3 Sidebar
