html
  head
    title Ela's blog
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    nav(class="navbar navbar-dark bg-inverse")

      a(class="navbar-brand" href="/") Ela Korkmaz | Blog

      a(class="nav-item nav-link float-xs-right" href="/admin/blog-posts") Admin panel
      a(class="nav-item nav-link float-xs-right" href="/new") Post a new blog

    block content

  script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous")
  script(src="/js/application.js")
