extends ../application.pug

block content
  .container
    .row
      .col-xs-8.offset-xs-2
        h1 Post a new blog
        form(action="/blogposts" method="POST")
          div(class="form-group")
            label(for="blogpost-title") Title
            input(name="title" type="text" class="form-control" id="blogpost-title")
          div(class="form-group")
            label(for="blogpost-slug") Slug
            input(name="slug" type="text" class="form-control" id="blogpost-slug")
          div(class="form-group")
            label(for="blogpost-body") body
            textarea(name="body" class="form-control" rows=10 id="blogpost-body")
          div(class="form-group text-xs-right")
            button(type="submit" class="btn btn-lg btn-success") Post your blog
